@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles for WebKit Browsers */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #038ef9; /* Color of the scrollbar thumb (handle) */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #73c5e5; /* Color of the scrollbar thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
  border-radius: 4px; /* Rounded corners of the scrollbar track */
}
